@import url("https://fonts.googleapis.com/css?family=Proxima+Nova");

* {
  margin: 0;
  padding: 0;
}
.proxima-font {
  font-family: "proxima-nova", sans-serif;
}

.mx-30 {
  margin: 0 30px;
}
.mx-150{
  margin: 0 170px;
}
.nav-logo{
    width: 105px;
    height: 67.69px;
}
.whitespace-nowrap {
  white-space: nowrap;
}

.absolute {
  position: absolute;
}
.text-white {
  color: #fff;
}

.flex {
  display: flex;
}
.text-center {
  text-align: center;
}
.line-h-75 {
  line-height: 75px;
}
.weight-500 {
  font-weight: 600;
}
.weight-700 {
  font-weight: 700;
}
.top-15 {
  top: -40px;
}
.left-15{
  left: 190px;
}
.justify-center {
  justify-content: center;
}
.space {
  letter-spacing: 20px;
}
.bg-white {
  background-color: #fff;
}
.bg-blue{
    background-color: #06215c;
}
.no-text-decoration {
  text-decoration: none;
}
.border-bottom {
  border-bottom: 1px solid #14213d;
}
.w-622 {
  width: 815px;
}
nav div a {
  color: #14213d;
}

.border-none {
  border: none;
}
.p-10 {
  padding: 10px;
}
.border-1 {
  border: 1px solid #06215c;
}
.border-grey {
  border: 1px solid grey;
}
.border-dark {
  border: 1px solid #14213D;
}
.bg-purple {
  background-color: #06215c;
}
.mt-36 {
  margin-top: 36px;
}
.mt-86{
  margin-top: 86px;
}
.mt-170{
  margin-top: 140px;
}
.mb-86{
  margin-bottom: 86px;
}
.mt-20{
  margin-top: 20px;
}
.mt-50 {
  margin-top: 50px;
}
.mt-120{
  margin-top: 120px;
}
.p-8 {
  padding: 8px;
}
.w-95p {
  width: 96%;
}

.rounded-xsm {
  border-radius: 4px;
}
.rounded-50 {
  border-radius: 50%;
}
.block {
  display: block;
}
.inline-block {
  display: inline-block;
}
.p-12 {
  padding: 12px;
}
.p-14{
  padding: 14px;
}
.p-40{
  padding: 40px;
}
.fs-67{
    font-size: 67px;
}
.fs-57{
  font-size: 50px;
}
.fs-16{
  font-size: 16px;
}
.mb-36 {
  margin-bottom: 36px;
}
.mb-50 {
  margin-bottom: 50px;
}
.textarea {
  resize: vertical;
}
.line-h-70 {
  line-height: 70px;
}
.line-h-20 {
  line-height: 20px;
}

.opac-1 {
  opacity: 0.1;
}
.text-lg {
  font-size: 45px;
}
.bottom-10 {
  bottom: -270px;
}
.bold {
  font-weight: bold;
}
.text-xlg {
  font-size: 400px;
}
.right-5 {
  right: -80px;
}
.mt-4 {
  margin-top: 4px;
}
.mt-8{
    margin-top: 25px;
}
.mt-50{
  margin-top: 50px;
}
.mt-80{
  margin-top: 80px;
}
.mb-80{
  margin-bottom: 80px;
}
.mb-5{
    margin-bottom: 5px;
}

.h-350px {
  height: 350px;
}
.h-300px {
  height: 300px;
}
.mb-4 {
  margin-bottom: 4px;
}
.mb-8 {
  margin-bottom: 8px;
}
.faint-border {
  border-color: rgba(0, 0, 0, 0.2);
}
.relative {
  position: relative;
}
.fix{
  position: fixed;
}
.top-0{
  top: 0;
}
.left-0{
  left: 0;
}
.right-0{
  right: 0;
}
.z-index{
  z-index: 1;
}

.px-20 {
  padding-left: 20px;
  padding-right: 20px;
}
.h-620px {
  height: 700px;
}
.absolute {
  position: absolute;
}
.bg-faint {
  background-color: #fafafa;
}
.rounded-sm {
  border-radius: 8px;
}
.rounded-md {
  border-radius: 12px;
}
.mt-90 {
  margin-top: 90px;
}
.pt-90 {
  padding-top: 90px;
}
.w-23p {
  width: 21%;
}
.w-16p {
  width: 19px;
}
.w-7p {
  width: 7px;
}
.w-32p{
    width: 14%;
}
.text-color {
  color: #14213d;
}
.space-between {
  justify-content: space-between;
}
.w-29p {
  width: 29%;
}
.w-31p {
  width: 31%;
}
.row {
  flex-direction: row;
}
.w-1165p{
    width: 1165px;
}
.w-45p {
  width: 45%;
}
.w-57p{
  width: 57%;
}
.w-34p {
  width: 34%;
}
.w-40p{
  width: 40%;
}
.w-41p {
  width: 35%;
}
.w-200p {
    width: 200px;
} 
.w-344p {
    width: 344px;
}
.w-343p {
    width: 343px;
} 
.chairman-img {
  width: 500px;
  height: 500px;
}
.column {
  flex-direction: column;
}
.w-full {
  width: 100%;
}
.p-30 {
  padding: 30px;
}

.space-around {
  justify-content: space-around;
}

.align-left {
  align-items: flex-start;
}

.align-center {
  align-items: center;
}

.align-right {
  align-items: flex-end;
}
.ml-35{
  margin-left: 160px;
}
.ml-40{
  margin-left: 170px;
}
.ml-50{
  margin-left: 185px;
}
.ml-55{
  margin-left: 270px;
}
.ml-60{
  margin-left: 700px;
}
.mr-150{
  margin-right: 150px;
}
.mr-ml{
  margin-left: 0;
  margin-right: 150px;
}
.mt-155{
  margin-top: 155px;
}
.mt-140{
  margin-top: 140px;
}
.mt-160{
  margin-top: 160px;
}
.mr-ml-30{
  margin-left: 30px;
  margin-right: 0;
}
.top-17 {
  top: 1170px;
}
.left-15{
  left: 700px;
}
.w-708{
  width: 810px;
}
.h-560{
  height: 460px;
}