@import url("https://fonts.googleapis.com/css?family=Proxima+Nova");

* {
  margin: 0;
  padding: 0;
}
.proxima-font {
  font-family: "proxima-nova", sans-serif;
}

.mx-30 {
  margin: 0 30px;
}
.overflow-x-scroll {
  overflow-x: scroll;
}

.whitespace-nowrap {
  white-space: nowrap;
}

.absolute {
  position: absolute;
}
.text-white {
  color: #fff;
}

.flex {
  display: flex;
}
.text-center {
  text-align: center;
}
.line-h-60 {
  line-height: 60px;
}
.weight-500 {
  font-weight: 500;
}
.top-15 {
  top: -15px;
}
.justify-center {
  justify-content: center;
}
.space {
  letter-spacing: 2px;
}
.bg-white {
  background-color: #fff;
}
.no-text-decoration {
  text-decoration: none;
}
.border-bottom {
  border-bottom: 1px solid #14213d;
}
.w-622 {
  width: 622px;
}
nav div a {
  color: #14213d;
}

.border-none {
  border: none;
}
.p-10 {
  padding: 10px;
}
.border-1 {
  border: 1px solid #06215c;
}
.purple-bg {
  background-color: #06215c;
}
.mt-36 {
  margin-top: 36px;
}
.mt-50 {
  margin-top: 50px;
}
.p-8 {
  padding: 8px;
}
.w-95p {
  width: 96%;
}

.rounded-xsm {
  border-radius: 4px;
}
.block {
  display: block;
}
.inline-block {
  display: inline-block;
}
.p-12 {
  padding: 12px;
}
.mb-36 {
  margin-bottom: 36px;
}
.textarea {
  resize: vertical;
}
.line-h-40 {
  line-height: 40px;
}
.line-h-30 {
  line-height: 30px;
}
.line-h-25 {
  line-height: 25px;
}
.opac-1 {
  opacity: 0.1;
}
.text-lg {
  font-size: 30px;
}
.bottom-10 {
  bottom: -130px;
}
.bold {
  font-weight: bold;
}
.text-xlg {
  font-size: 305px;
}
.right-5 {
  right: 5px;
}
.mt-4 {
  margin-top: 4px;
}
.h-350px {
  height: 350px;
}
.h-300px {
  height: 300px;
}
.mb-4 {
  margin-bottom: 4px;
}
.mb-8 {
  margin-bottom: 8px;
}
.faint-border {
  border-color: rgba(0, 0, 0, 0.2);
}
.relative {
  position: relative;
}
.px-20 {
  padding-left: 20px;
  padding-right: 20px;
}
.h-620px {
  height: 620px;
}
.absolute {
  position: absolute;
}
.bg-faint {
  background-color: #fafafa;
}
.rounded-sm {
  border-radius: 8px;
}
.rounded-md {
  border-radius: 12px;
}
.mt-90 {
  margin-top: 90px;
}
.pt-90 {
  padding-top: 90px;
}
.w-23p {
  width: 19%;
}
.text-color {
  color: #14213d;
}
.space-between {
  justify-content: space-between;
}
.w-29p {
  width: 32%;
}
.row {
  flex-direction: row;
}
.w-45p {
  width: 45%;
}
.w-50p {
  width: 50%;
}
.chairman-img {
  width: 588px;
  height: 588px;
}
.column {
  flex-direction: column;
}
.w-full {
  width: 100%;
}
.p-30 {
  padding: 30px;
}

.space-around {
  justify-content: space-around;
}

.align-left {
  align-items: flex-start;
}

.align-center {
  align-items: center;
}

.align-right {
  align-items: flex-end;
}
